/*########################### This code is written by Norhan El-Deeb @2019 #########################*/

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(20,77,145,1) 100%);  
} 

h1{
    font-family: 'Monofett', cursive;
}

h2{
    font-family: 'Fugaz One', cursive;
}

